body {
  background-color: #eef4f8;

  font-family: Arial, sans-serif;
  color: #000000;
  margin: 0;
  padding: 20px;
}
h1 {
  color: #222222;
  text-align: left;
}

section {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
}