body {
  background-color: #eef4f8;

  font-family: Arial, sans-serif;
  color: #000000;
  margin: 0;
  padding: 10px;
}
h1 {
    color: #333333;
}

.titre-centre {
    text-align: center;
}

.titre-gauche {
    text-align: left;
}

section {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;
  border-radius: 100px;
}
/* Style pour la bar de navigation*/
nav {
  background-color: rgb(179, 240, 255);
  padding: 30px;
  margin: 10px auto;
  border-radius: 100px;

}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}